# this is a comment
Connection:
  server: localhost
  port: 6667
  nickname: PyTIBot
  username:
  serverpassword:
  channels:
  adminbyhost: False
  admins:
  ignore:
  rejoinkicked: True

Logging:
  channels: ["#mysuperchannel", "#myweirdchannel"]
  directory: /tmp/log/
  log_minor: True
  yaml: True

HTTPLogServer:
  channels: "#mysuperchannel"
  port: 8080
  sslport: 8081
  certificate: /path/to/cert.pem
  privkey: /path/to/privkey.pem
  title: Awesome Log Server

GitWebhook:
  channel: "#mysuperchannel"
  sslport: 4041
  certificate: /path/to/cert.pem
  privkey: /path/to/privkey.pem

Manhole:
  telnetPort: 9999

Commands:
  hello: hello
  tell: tell
  morse: morse
  unmorse: unmorse
  joke: joke
  say: say
  random: rand
  whois: whois
  raw: raw
  pypi: search_pypi
  fortune: fortune

Triggers:
  enabled: [youtube, import_this]

Simple Triggers:
  -
    trigger: trigger
    answer: This line was triggered by $USER in $CHANNEL.
  -
    trigger: can contain regex (\d+)
    answer: "be sure to escape : or #"

Actions:
  userkicked: Nice work $KICKER, noone liked $KICKEE anyways!
  kickedfrom: Nice try $KICKER, but that was to easy.

