html, body {
    background-color: #eeeeee;
    height: 100%;
    margin: 0;
}

form {
    margin: 0;
    padding: 15px;
}

#VoteForm {
    display: inline-grid;
    grid-template-columns: auto auto;
    align-items: center;
}

div.vote_timerange {
    width: 100%;
    text-align: center;
    padding: 1rem 0 2rem 0;
}

li.votehelp_listitem {
    list-style-type: none;
}

tr:nth-child(even) {
    background-color: #eeeefc;
}

tr:nth-child(odd) {
    background-color: #f6f6f6;
}

table {
    width: 100%
}

table thead {
    display: None;
}

table td {
    padding: 8px;
    text-align: left;
    vertical-align: center;
    display: block;
}

table td.user, table td.vote_user {
    width: 20ch;
}

table td.vote_id {
    width: 5ch;
}

table td.vote_category {
    width: auto;
}

table td.user, table td.vote_id, table td.vote_user {
    text-align: left;
    font-weight: bold;
    display: inline-block;
}

table td.time, table td.vote_decision, table td.vote_category {
    text-align: center;
    width: 10ch;
    display: inline-block;
}

table td.vote_category {
    float: right;
}

table td.vote_decision {
    text-align: left;
}

table td.vote_title:before, table td.vote_creator:before, table td.vote_status:before, table td.vote_count:before {
    width: max(10ch, 20%);
    display: block;
    font-weight: bold;
    color: initial;
}

table td.vote_title:before {
    content: "Title: ";
}

table td.vote_creator:before {
    content: "Creator: ";
}

table td.vote_status:before {
    content: "Status: ";
}

table td.vote_count:before {
    content: "Votes: ";
}

table td.category_name, td.category_description {
    display: inline-block;
}

table td.votehelp_cmd_name:before, table td.votehelp_cmd_desc:before,
table td.votehelp_flag_long:before, table td.votehelp_flag_short:before, table td.votehelp_flag_desc:before,
table td.votehelp_param_long:before, table td.votehelp_param_short:before, table td.votehelp_param_default:before, table td.votehelp_param_desc:before,
table td.votehelp_arg_name:before, table td.votehelp_arg_default:before, table td.votehelp_arg_values:before {
    display: block;
}

table tr.votehelp_tableheader {
    display: None;
}

table td.votehelp_cmd_name:before {
    content: "Command: ";
}

table td.votehelp_cmd_desc:before, table td.votehelp_flag_desc:before, table td.votehelp_param_desc:before {
    content: "Description: ";
}

table td.votehelp_flag_long:before, table td.votehelp_param_long:before {
    content: "Long: ";
}

table td.votehelp_flag_short:before, table td.votehelp_param_short:before {
    content: "Short: ";
}

table td.votehelp_param_default:before, table td.votehelp_arg_default:before {
    content: "Default: ";
}

table td.votehelp_arg_name:before {
    content: "Argument: ";
}

table td.votehelp_arg_values:before {
    content: "Possible values: ";
}

table td.votehelp_arg_dummy, table td.votehelp_flag_dummy {
    display: None;
}

@media (min-width: 600px) {
    table thead {
        display: table-header-group;
    }

    table td.user {
        text-align: right;
    }

    table td.vote_id {
        text-align: center;
    }

    table td.user, table td.vote_id, table td.vote_user {
        font-weight: bold;
        display: table-cell;
    }

    table td.time, table td.vote_decision, table td.vote_category {
        text-align: center;
        width: 10ch;
        display: table-cell;
    }

    table td.vote_category {
        float: none;
        width: 10ch;
    }

    table td.vote_title {
        width: auto;
    }

    table td {
        padding: 8px;
        text-align: left;
        display: table-cell;
    }

    table td.vote_status, table td.vote_creator, table td.vote_count {
        text-align: center;
    }

    table td.vote_title:before, table td.vote_creator:before, table td.vote_status:before, table td.vote_count:before,
    table td.votehelp_cmd_name:before, table td.votehelp_cmd_desc:before,
    table td.votehelp_flag_long:before, table td.votehelp_flag_short:before, table td.votehelp_flag_desc:before,
    table td.votehelp_param_long:before, table td.votehelp_param_short:before, table td.votehelp_param_default:before, table td.votehelp_param_desc:before,
    table td.votehelp_arg_name:before, table td.votehelp_arg_default:before, table td.votehelp_arg_values:before {
        display: None;
    }

    table td.category_name, td.category_description {
        display: table-cell;
    }

    table td.category_name {
        width: 20%;
    }

    table tr.votehelp_tableheader {
        display: table-row;
    }
    table tr.votehelp_tableheader th {
        text-align: left;
    }

    table td.votehelp_cmd_name, table td.votehelp_arg_name,table td.votehelp_flag_long, table td.votehelp_param_long {
        width: 20ch;
    }

    table td.votehelp_flag_short, table td.votehelp_param_short, table td.votehelp_arg_dummy {
        width: 5ch;
    }

    table td.votehelp_param_default, table td.votehelp_arg_default, table td.votehelp_flag_dummy {
        width: 10ch;
    }

    table td.votehelp_arg_dummy, table td.votehelp_flag_dummy {
        display: table-cell;
    }
}

.search_label{
    padding: 15px;
    position: relative;
    z-index: 20;
    display: block;
    background: #ccccdd;
    text-align: center;
}

b.match {
    background-color: #9999ff;
}

#container {
    min-height:100%;
    position:relative;
}

#main {
    margin: 15px;
    padding-bottom: 50px;
}

header {
    padding:10px;
}

footer {
    height: 50px;
    position:absolute;
    bottom:0;
    width:100%;
    text-align: center;
    background-color: #aaaaaa;
}
