html, body {
    background-color: #eeeeee;
    height: 100%;
    margin: 0;
}

form {
    margin: 0;
    padding: 15px;
}

#VoteForm {
    display: inline-grid;
    grid-template-columns: auto auto;
    align-items: center;
}

tr:nth-child(even) {
    background-color: #eeeefc;
}

tr:nth-child(odd) {
    background-color: #f6f6f6;
}

table {
    width: 100%
}

table thead {
    display: None;
}

table td {
    padding: 8px;
    text-align: left;
    vertical-align: center;
    display: block;
}

table td.user, table td.vote_user {
    width: 20ch;
}

table td.vote_id {
    width: 5ch;
}

table td.vote_category {
    width: auto;
}

table td.user, table td.vote_id, table td.vote_user {
    text-align: left;
    font-weight: bold;
    display: inline-block;
}

table td.time, table td.vote_decision, table td.vote_category {
    text-align: center;
    width: 10ch;
    display: inline-block;
}

table td.vote_category {
    float: right;
}

table td.vote_decision {
    text-align: left;
}

table td.vote_title:before, table td.vote_creator:before, table td.vote_status:before, table td.vote_count:before {
    width: max(10ch, 20%);
    display: block;
    font-weight: bold;
    color: initial;
}

table td.vote_title:before {
    content: "Title: ";
}

table td.vote_creator:before {
    content: "Creator: ";
}

table td.vote_status:before {
    content: "Status: ";
}

table td.vote_count:before {
    content: "Votes: ";
}

@media (min-width: 600px) {
    table thead {
        display: table-header-group;
    }

    table td.user {
        text-align: right;
    }

    table td.vote_id {
        text-align: center;
    }

    table td.user, table td.vote_id, table td.vote_user {
        font-weight: bold;
        display: table-cell;
    }

    table td.time, table td.vote_decision, table td.vote_category {
        text-align: center;
        width: 10ch;
        display: table-cell;
    }

    table td.vote_category {
        float: none;
        width: 10ch;
    }

    table td.vote_title {
        width: auto;
    }

    table td {
        padding: 8px;
        text-align: left;
        display: table-cell;
    }

    table td.vote_status, table td.vote_creator, table td.vote_count {
        text-align: center;
    }

    table td.vote_title:before, table td.vote_creator:before, table td.vote_status:before, table td.vote_count:before {
        display: None;
    }
}

.search_label{
    padding: 15px;
    position: relative;
    z-index: 20;
    display: block;
    background: #ccccdd;
    text-align: center;
}

b.match {
    background-color: #9999ff;
}

#container {
    min-height:100%;
    position:relative;
}

#main {
    margin: 15px;
    padding-bottom: 50px;
}

header {
    padding:10px;
}

footer {
    height: 50px;
    position:absolute;
    bottom:0;
    width:100%;
    text-align: center;
    background-color: #aaaaaa;
}
