html {
    height: 100%;
    width: 100%;
}

body {
    background-color: #eeeeee;
    height: 100%;
    width: 100%;
}

form {
    margin: 10px
}

tr:nth-child(even) {
    background-color: #f6f6f6;
}
