html, body {
    background-color: #eeeeee;
    height: 100%;
    margin: 0;
}

form {
    margin: 0;
    padding: 15px;
}

tr:nth-child(even) {
    background-color: #eeeefc;
}

tr:nth-child(odd) {
    background-color: #f6f6f6;
}

table {
    width: 100%
}

table td {
    padding: 8px;
    text-align: left;
    display: block;
}

table td.user {
    text-align: left;
    vertical-align: top;
    width: 20ch;
    font-weight: bold;
    display: inline-block;
}

table td.time {
    text-align: center;
    vertical-align: top;
    width: 10ch;
    display: inline-block;
}

@media (min-width: 600px) {
    table td.user {
        text-align: right;
        width: 20ch;
        font-weight: bold;
        display: table-cell;
    }

    table td.time {
        text-align: center;
        vertical-align: top;
        width: 10ch;
        display: table-cell;
    }

    table td {
        padding: 8px;
        text-align: left;
        display: table-cell;
    }
}

label{
    padding: 15px;
    position: relative;
    z-index: 20;
    display: block;
    background: #ccccdd;
    text-align: center;
}

b.match {
    background-color: #9999ff;
}

#container {
    min-height:100%;
    position:relative;
}

#main {
    margin: 15px;
    padding-bottom: 50px;
}

header {
    padding:10px;
}

footer {
    height: 50px;
    position:absolute;
    bottom:0;
    width:100%;
    text-align: center;
    background-color: #aaaaaa;
}
