html, body {
    background-color: #eeeeee;
    height: 100%;
    margin: 0;
}

form {
    margin: 0;
    padding: 15px;
}

tr:nth-child(even) {
    background-color: #eeeefc;
}

tr:nth-child(odd) {
    background-color: #f6f6f6;
}

table {
    width: 100%
}

table td.user {
    text-align: right;
    width: 20ch;
}

table td.time {
    text-align: center;
    width: 10ch;
}

table td {
    padding: 8px;
    text-align: left;
}

.accordion label{
    padding: 15px;
    position: relative;
    z-index: 20;
    display: block;
    cursor: pointer;
    background: #ccccdd;
    text-align: center;
}
.accordion input:checked + label{
    background: #ddddee;
}
.accordion input{
    display: none;
}
.accordion article{
    overflow: hidden;
    height: 0px;
    position: relative;
    z-index: 10;
}
.accordion input:checked ~ article.accordion-article{
    height: auto;
}

#container {
    min-height:100%;
    position:relative;
}

#main {
    margin: 15px;
    padding-bottom: 50px;
}

header {
    padding:10px;
}

footer {
    height: 50px;
    position:absolute;
    bottom:0;
    width:100%;
    text-align: center;
    background-color: #aaaaaa;
}
